/logs
/dotnet/runtime/*
/client_packages/.listcache
/dotnet/resources/Server/.vs
/dotnet/server_exceptions.txt
/bin
/client_packages/.vscode
/maps
/node_modules
/packages
/plugins
conf.json
mysql-apt-config_0.8.22-1_all.deb
notes.txt
package.json
package-lock.json
positions.txt
ragemp-server
