.panel_settings_auth{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 2vh;
    color: white;
    font-size: 1.4vh;
}

.panel_settings_auth > .auth_header{
    font-size: 2vh;
    margin-bottom: 4vh;
}


.panel_settings_auth > .auth_list {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 2vh;
}

.panel_settings_auth > .auth_list > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2vh;

}

.panel_settings_auth > .auth_list > div > p{
    text-align: left;
    width: 40%;
    margin: 0;
}

.panel_settings_auth > .auth_list > div > b{
    width: 40%;
    text-align: right;
}

.panel_settings_auth > .auth_list > div > i{
    width: 20%;
    text-align: center;
}

.panel_settings_auth > .auth_addon{
    position: absolute;
    bottom: 2vh;
}

.slider {
    -webkit-appearance: none;
    width: 80%;
    margin-left: 10%;
    background: #1d1d1d;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    height: 2vh;
    border: 1px solid rgba(170, 170, 170, 0.5);
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: white;
    cursor: pointer;
    width: 1.5vh;
    height: 1.5vh;
  }


.amount input::-webkit-outer-spin-button, .amount input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

.amount input:focus{
  outline: none;
}

.panel_settings_discordButton{
    width: 30%;
    margin: auto auto;
    margin-top: 1vh;
    padding: 0.5vh;
    border-radius: 0.3vh;
    background-color: rgb(114, 137, 218);
    color: white;
    font-size: 1.2vh;
    transition: all 1s;
}

.panel_settings_discordButton:hover{
    border-radius: 0.5vh;
    background-color: rgb(104, 134, 243);
}

