<script src="js/bonus.js"></script>
<link rel="stylesheet" href="style/bonus.css">
<div class="panel_panel">
    <div class="panel_bonus_body">

        <div class="panel_bonus_menu">
            <div class="panel_bonus_menu_block">
                <div class="panel_bonus_menu_title">Bonus godzinny</div>
                <div class="panel_bonus_menu_desc">W tym miejscu odbierzesz swoją nagrodę za aktywność na serwerze! Jest ona możliwa do odbioru co godzinę aktywnej gry! W puli wygranych jest wiele rzeczy, ale nagrodą główną jest tajemniczy pojazd!</div>
                <div class="panel_bonus_menu_hourbutton panel_bonus_menu_button panel_bonus_menu_button_notactive">_</div>
            </div>
            <div class="panel_bonus_menu_block">
                <div class="panel_bonus_menu_title">Wyzwania dzienne</div>
                <div class="panel_bonus_menu_desc">W tym miejscu zobaczysz wyzwania dzienne i swój postęp! Za regularne wykonywanie zadań przewidziane są wysokie nagrody!</div>
                <div class="panel_bonus_menu_challenges panel_bonus_menu_button" style="filter: blur(2px)">Zobacz wyzwania</div>
            </div>
            <!-- <div class="panel_bonus_menu_block">
                <div class="panel_bonus_menu_title">Wyzwania tygodniowe</div>
                <div class="panel_bonus_menu_desc">W tym miejscu znajdują się obecne wyzwania tygodniowe. Zobaczysz tutaj swój postęp jak i nagrody przewidziane za wykonanie zadań!</div>
                <div class="panel_bonus_menu_weeklychallenges panel_bonus_menu_button" style="filter: blur(2px)">Zobacz wyzwania</div>
            </div> -->
        </div>

        <div class="panel_bonus_roller_body">
            <div class="panel_bonus_pointer"><i class="fa-solid fa-arrow-down"></i></div>
            <div class="panel_bonus_scroll">
                <div class="panel_bonus_roller">
                </div>
            </div>
        </div>
    </div>
</div>
