<link rel="stylesheet" href="style/controls.css">
<div class="panel_controls_main show_panel">
    <div class="panel_controls">
        <div class="panel_control panel_control_selected" source="info.html">
            <div class="panel_control_header">Informacje</div>
            <div class="panel_control_sprite" style="background-image: url('img/icons/help.png')"></div>
        </div>
        <div class="panel_control" source="stats.html">            
            <div class="panel_control_header">Statystyki</div>
            <div class="panel_control_sprite" style="background-image: url('img/icons/stats.png')"></div>
        </div>
        <div class="panel_control" source="vehicles.html">            
            <div class="panel_control_header">Pojazdy</div>
            <div class="panel_control_sprite" style="background-image: url('img/icons/vehicles.png')"></div>
        </div>
        <div class="panel_control" source="messenger.html">            
            <div class="panel_control_header">Wiadomości</div>
            <div class="panel_control_sprite" style="background-image: url('img/icons/message.png')"></div>
        </div>
        <div class="panel_control" source="bonus.html">             
            <div class="panel_control_header">Bonusy</div>
            <div class="panel_control_sprite" style="background-image: url('img/icons/bonus.png')"></div>
        </div>
        <div class="panel_control" source="bank.html">         
            <div class="panel_control_header">Bank</div>
            <div class="panel_control_sprite" style="background-image: url('img/icons/bank.png')"></div>
        </div>
        <div class="panel_control" source="progress.html">          
            <div class="panel_control_header">Rozwój</div>
            <div class="panel_control_sprite" style="background-image: url('img/icons/progress.png')"></div>
        </div>
        <div class="panel_control" source="settings.html">           
            <div class="panel_control_header">Opcje</div>
            <div class="panel_control_sprite" style="background-image: url('img/icons/settings.png')"></div>
        </div>
    </div>
</div>
<script src="js/controls.js"></script>