<link rel="stylesheet" href="style/info.css">
<div class="panel_panel">
    <div class="panel_info_body">
        <div class="panel_tabview">
            <div class="panel_tabview_tabs">
                <div class="panel_tabview_tab_general">
                    Ogólne
                </div>
                <div class="panel_tabview_tab tabselected" source="general/rules.html">
                    <i class="fa-solid fa-book"></i>
                    Regulamin
                </div>
                <div class="panel_tabview_tab" source="general/changelog.html">
                    <i class="fa-solid fa-list-check"></i>
                    Changelog
                </div>
                <div class="panel_tabview_tab" source="general/penalties.html">
                    <i class="fa-solid fa-hammer"></i>
                    Tabela kar
                </div>
                <div class="panel_tabview_tab" source="general/socialmedia.html">
                    <i class="fa-solid fa-thumbs-up"></i>
                    Social Media
                </div>
                

                <div class="panel_tabview_tab_general">
                    Poradnik
                </div>
                <div class="panel_tabview_tab" source="guide/welcome.html">
                    <i class="fa-solid fa-handshake"></i>
                    Witaj!
                </div>
                <div class="panel_tabview_tab" source="guide/commands.html">
                    <i class="fa-solid fa-bolt"></i>
                    Komendy
                </div>
                <div class="panel_tabview_tab" source="guide/keybinds.html">
                    <i class="fa-solid fa-keyboard"></i>
                    Skróty klawiszowe
                </div>
                <div class="panel_tabview_tab" source="guide/jobs.html">
                    <i class="fa-solid fa-briefcase"></i>
                    Prace
                </div>
                <div class="panel_tabview_tab" source="guide/vehicles.html">
                    <i class="fa-solid fa-car"></i>
                    Pojazdy
                </div>
                <div class="panel_tabview_tab" source="guide/skills.html">
                    <i class="fa-solid fa-angles-up"></i>
                    Umiejętności
                </div>
                <div class="panel_tabview_tab" source="guide/general.html">
                    <i class="fa-solid fa-question"></i>
                    Ogólne
                </div>
            </div>
            <div class="panel_tabview_view">
                
            </div>
        </div>
    </div>
</div>

<script src="js/info.js"></script>