<link rel="stylesheet" href="style/messenger.css">
<div class="panel_panel">
    <div class="panel_messenger_body">
        <div class="panel_messenger">
            <div class="panel_messenger_tabs">
                <div class="panel_messenger_add"><i class="fa-solid fa-pen"></i></div>
                <div class="panel_messenger_tabList">
                    <div class="panel_messenger_scroll">
                        
                    </div>
                </div>
            </div>
            <div class="panel_messenger_view">
                <div class="panel_messenger_search_body">
                    <div class="panel_messenger_search">
                        <input id="panel_messenger_search_input" maxlength="150" placeholder="Wyszukaj gracza...">
                        <div></div>
                    </div>
                    <div class="panel_messenger_search_scroll">
                        <div class="panel_messenger_search_players">
                            
                        </div>
                    </div>
                    
                </div>
                <div class="panel_messenger_start">
                    <h2>Wybierz gracza aby rozpocząć rozmowę!</h2>
                </div>
                <div class="panel_messenger_messages_body">
                    <div class="panel_messenger_messages">
                        <div class="panel_messenger_messages_scroll">
                            
                        </div>
                    </div>
                    <div class="panel_messenger_input">
                        <input id="messenger_input" maxlength="150">
                        <div class="emojisList_button"></div>
                        <div class="panel_messenger_send"></div>
                        <div class="emojisList_list"></div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/messenger.js"></script>

       <!-- </div>
        
    </div>
</div>
<script src="js/messenger.js"></script> -->