<link rel="stylesheet" href="style/messenger.css">
<div class="panel_panel">
    <div class="panel_messenger_body">
        <div class="panel_messenger_contacts_body">
            <div class="panel_messenger_add">
                <div></div>
            </div>
            <div class="panel_messenger_contacts">

                <div class="panel_messenger_contacts_scroll">
                    
                    <!-- <div class="panel_messenger_contact" playerId="123123">
                        <div class="avatar"></div>
                        <div class="nick">polskifucker2008</div>
                    </div> -->
                    <!-- <div class="panel_messenger_contact" playerId="123322">
                        <div class="avatar"></div>
                        <div class="nick">twujstarypijany</div>
                    </div>
                    <div class="panel_messenger_contact" playerId="1232111123">
                        <div class="avatar"></div>
                        <div class="nick">maciekklej</div>
                    </div>
                    <div class="panel_messenger_contact" playerId="12223123">
                        <div class="avatar"></div>
                        <div class="nick">mogezadacpytanie</div>
                    </div>
                    <div class="panel_messenger_contact" playerId="12343123">
                        <div class="avatar"></div>
                        <div class="nick">mikistuleja</div>
                    </div>
                    <div class="panel_messenger_contact" playerId="12553123">
                        <div class="avatar"></div>
                        <div class="nick">czokomilojebany</div>
                    </div>
                    <div class="panel_messenger_contact" playerId="12366123">
                        <div class="avatar"></div>
                        <div class="nick">powaznydeveloper</div>
                    </div>
                    <div class="panel_messenger_contact" playerId="12377123">
                        <div class="avatar"></div>
                        <div class="nick">powaznydeveloper</div>
                    </div> -->
                </div>
                
            </div>
        </div>
        <div class="panel_messenger_search_body">
            <div class="panel_messenger_search">
                <input id="panel_messenger_search_input" maxlength="150" placeholder="Wyszukaj gracza...">
                <div></div>
            </div>
            <div class="panel_messenger_search_scroll">
                <div class="panel_messenger_search_players">
                    
                </div>
            </div>
            
        </div>
        <div class="panel_messenger_start">
            <h2>Wybierz gracza aby rozpocząć rozmowę!</h2>
        </div>
        <div class="panel_messenger_messages_body">
            <div class="panel_messenger_messages">
                <div class="panel_messenger_messages_scroll">
                    <!-- <div class="panel_messenger_message incoming">
                        Siema długa wiadomość z rana kurwo jebana :D:D:D:D:D:D
                        <div class="date">12.02.2022 12:12</div>
                    </div> -->
                    <!-- <div class="panel_messenger_message outgoing">
                        Siema długa wiadomość z rana kurwo jebana :D:D:D:D:D:D
                        <div class="date">12.02.2022 12:12</div>
                    </div>
                    <div class="panel_messenger_message incoming">
                        Siema długa wiadomość z rana kurwo jebana :D:D:D:D:D:D
                        <div class="date">12.02.2022 12:12</div>
                    </div>
                    <div class="panel_messenger_message outgoing">
                        Siema długa wiadomość z rana kurwo jebana :D:D:D:D:D:D
                        <div class="date">12.02.2022 12:12</div>
                    </div>
                    <div class="panel_messenger_message incoming">
                        Siema długa wiadomość z rana kurwo jebana :D:D:D:D:D:D
                        <div class="date">12.02.2022 12:12</div>
                    </div>
                    <div class="panel_messenger_message outgoing">
                        Siema długa wiadomość z rana kurwo jebana :D:D:D:D:D:D
                        <div class="date">12.02.2022 12:12</div>
                    </div>
                    <div class="panel_messenger_message incoming">
                        Siema długa wiadomość z rana kurwo jebana :D:D:D:D:D:D
                        <div class="date">12.02.2022 12:12</div>
                    </div>
                    <div class="panel_messenger_message outgoing">
                        Siema długa wiadomość z rana kurwo jebana :D:D:D:D:D:D
                        <div class="date">12.02.2022 12:12</div>
                    </div> -->
                </div>
            </div>
            <div class="panel_messenger_input">
                <input id="messenger_input" maxlength="150">
                <div class="emojisList_button"></div>
                <div class="panel_messenger_send"></div>
                <div class="emojisList_list"></div>
                
            </div>
        </div>
    </div>
</div>
<script src="js/messenger.js"></script>