<link rel="stylesheet" href="style/penalties.css">
<div class="panel_panel">
    <div class="panel_penalties_body">
        <div class="panel_penalties_partial">
            <table class="penalties-table">
                <colgroup>
                    <col width="40%"><col width="60%">
                </colgroup>
                <tr>
                    <th>Przewinienie</th>
                    <th>Kara</th>
                </tr>
                <tr>
                    <td>Cheaty / wspomagacze</td>
                    <td>Ban - do 3 lat</td>
                </tr>
                <tr>
                    <td>Całkowity brak kultury</td>
                    <td>Ostrzeżenie lub wyciszenie do 14 dni</td>
                </tr>
                <tr>
                    <td>Wykorzystywanie błędów</td>
                    <td>Ostrzeżenie lub ban do 3 lat</td>
                </tr>
                <tr>
                    <td>Spam / flood</td>
                    <td>Ostrzeżenie lub wyciszenie do 2 dni</td>
                </tr>
                <tr>
                    <td>Taranowanie / odwalanie</td>
                    <td>Ostrzeżenie lub utrata prawa jazdy do 14 dni</td>
                </tr>
                <tr>
                    <td>Handel poza serwerem</td>
                    <td>Ban permanentny</td>
                </tr>
                <tr>
                    <td>Ogłoszenia na czacie globalnym</td>
                    <td>Ostrzeżenie lub wyciszenie do 7 dni</td>
                </tr>
                <tr>
                    <td>Nadużywanie czatu głosowego</td>
                    <td>Ostrzeżenie lub wyciszenie do 14 dni</td>
                </tr>
                <tr>
                    <td>Odwalanie pojazdem publicznym</td>
                    <td>Wyrzucenie lub ban do 7 dni</td>
                </tr>
                <tr>
                    <td>Spam reportami</td>
                    <td>Ostrzeżenie lub ban do 7 dni</td>
                </tr>
                <tr>
                    <td>Utrudnianie rozgrywki</td>
                    <td>Ostrzeżenie lub ban do 30 dni</td>
                </tr>
                <tr>
                    <td>Niestosowny nick</td>
                    <td>Ostrzeżenie lub ban do 30 dni</td>
                </tr>
            </table>
        </div>
    </div>
</div>
