<link rel="stylesheet" href="style/rules.css">
<div class="panel_panel">
    <div class="panel_rules_body">
        <div class="panel_rules_partial panel_rules_changelog">
            <p style="font-weight: 600">Changelog</p>
            <p style="font-size: 1.3vh">16:60 11.11.2021</p>
            <div class="panel_changelog_partials">
                <div>-Pole na nurku od teraz powinno wskazywać dokładniej teren poszukiwań</div>
                <div>-Gdy jesteś w pobliżu przedmiotu do znalezienia na nurku, usłyszysz dźwięki</div>
                <div>-Wyjście ze skutera na nurku zatrzymuje go</div>
                <div>-Poprawiono błąd powodujący brak obrazów ryb w ekwipunku</div>
            </div>
        </div>
        <div class="panel_rules_partial panel_rules_rules">
            <p style="font-weight: 600">Regulamin serwera</p>
            <div class="panel_rules_rules_partials">
                <div><b>§1.</b> Gracz rejestruje się automatycznie używając swojego konta Rockstar Games.</div>
                <div><b>§2.</b> Zabrania się korzystania z wszelakich wspomagaczy, lub programów pozwalających modyfikować zawartość gry. Wszelkie próby, niezależnie od powodzenia, będą karane.</div>
                <div><b>§3.</b> Zabrania się podszywania się pod członków administracji i innych użytkowników.</div>
                <div><b>§4.</b> Każdy gracz serwera jest zobowiązany zachowywać się zgodnie z powszechnie uznawanymi zasadami kultury osobistej.</div>
                <div><b>§5.</b> Zabrania się spamowania i innych podobnych prób zaszkodzenia innym graczom.</div>
                <div><b>§6.</b> Zabrania się wykorzystywania błędów gry. Gracze którzy umyślnie będą wywoływać błędy nie zgłaszając tego administracji zostaną ukarani.</div>
                <div><b>§7.</b> Wszelkie próby oszustwa innych graczy będą karane.</div>
            </div>
            <div class="panel_rules_rules_bottom">Administracja zastrzega sobie prawo do modyfikacji regulaminu.</div>
        </div>
        <div class="panel_rules_partial panel_rules_social">
            <p style="font-weight: 600">Social media</p>
            <div class="panel_social_partials">
                <div class="panel_social_discord">
                    <div class="panel_social_discord_logo" style="background-image: url('img/icons/discord.png')"></div>
                    <p>Discord</p>
                </div>
            </div>
        </div>
    </div>
</div>