<link rel="stylesheet" href="style/settings.css">
<div class="panel_panel">
    <div class="panel_settings_body">
        <div class="panel_tabview">
            <div class="panel_tabview_tabs">
                <div class="panel_tabview_spacer"></div>
                <div class="panel_tabview_tab tabselected" source="settings/general.html">
                    <i class="fa-solid fa-gear"></i>
                    Ogólne
                </div>
                <div class="panel_tabview_spacer"></div>
                <div class="panel_tabview_tab" source="settings/interface.html">
                    <i class="fa-solid fa-display"></i>
                    Interfejs
                </div>
                <div class="panel_tabview_spacer"></div>
                <div class="panel_tabview_tab" source="settings/auth.html">
                    <i class="fa-brands fa-discord"></i>
                    Autoryzacja
                </div>
            </div>
            <div class="panel_tabview_view">
                
            </div>
        </div>
    </div>
</div>
<script src="js/settings.js"></script>