<link rel="stylesheet" href="style/stats.css">
<div class="panel_panel">
    <div class="panel_stats_body">
        <div class="panel_tabview">
            <div class="panel_tabview_tabs">
                
                <div class="panel_tabview_spacer"></div>

                <div class="panel_tabview_tab tabselected" source="stats/general.html">
                    <i class="fa-solid fa-question"></i>
                    Informacje ogólne
                </div>

                <div class="panel_tabview_spacer"></div>

                <div class="panel_tabview_tab" source="stats/jobprogress.html">
                    <i class="fa-solid fa-briefcase"></i>
                    Postęp prac
                </div>

                <div class="panel_tabview_spacer"></div>

                <div class="panel_tabview_tab" source="stats/skills.html">
                    <i class="fa-solid fa-person"></i>
                    Umiejętności
                </div>
            </div>
            <div class="panel_tabview_view">
                
            </div>
        </div>
    </div>
</div>

<script src="js/stats.js"></script>

<!-- <link rel="stylesheet" href="style/stats.css">
<div class="panel_panel">
    <div class="panel_user_body">
        <div class="panel_user_partial panel_user_jobs">
            <h2>Postęp prac</h2>
            
            
        </div>
        <div class="panel_user_partial panel_user_general">
            <h2>Informacje ogólne</h2>

        </div>
        <div class="panel_user_partial panel_user_skills">
            <h2>Umiejętności</h2>
            <table class="interface-table">
                <colgroup>
                    <col width="45%">
                    <col width="20%">
                    <col width="15%">
                    <col width="20%">
                </colgroup>
                <tr>
                    <th>Umiejętność</th>
                    <th>Poziom</th>
                    <th>Koszt</th>
                    <th></th>
                </tr>
                <tr>
                    <td class="tooltip">Ekwipunek<span class="tooltiptext">Powiększa ekwipunek postaci o 1 pasek</span></td>
                    <td class="eqLvl">0/4</td>
                    <td>5</td>
                    <td class="eqAdd"><div class="addPoint hide"><div class="plush"></div><div class="plusv"></div></div></td>
                </tr>
                <tr>
                    <td class="tooltip">Zarobki<span class="tooltiptext">Zwiększa zarobki o 1%</span></td>
                    <td class="zarobkiLvl">0/15</td>
                    <td>2</td>
                    <td class="zarobkiAdd"><div class="addPoint hide"><div class="plush"></div><div class="plusv"></div></td>
                </tr>
                <tr>
                    <td class="tooltip">Eco Driving<span class="tooltiptext">Zmniejsza spalanie pojazdów o 2%</span></td>
                    <td class="edLvl">0/10</td>
                    <td>1</td>
                    <td class="edAdd"><div class="addPoint hide"><div class="plush"></div><div class="plusv"></div></td>
                </tr>
                <tr>
                    <td class="tooltip">Sloty na pojazdy<span class="tooltiptext">Zwiększa sloty na pojazd o 1</span></td>
                    <td class="slotyLvl">0/20</td>
                    <td>1</td>
                    <td class="slotyAdd"><div class="addPoint hide"><div class="plush"></div><div class="plusv"></div></td>
                </tr>
                <tr>
                    <td class="tooltip">Szósty zmysł<span class="tooltiptext">Ułatwia szukanie znajdziek</span></td>
                    <td class="szLvl">0/1</td>
                    <td>18</td>
                    <td class="szAdd"><div class="addPoint hide"><div class="plush"></div><div class="plusv"></div></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<script src="js/stats.js"></script> -->