<link rel="stylesheet" href="style/vehicles.css">
<div class="panel_panel">
    <div class="panel_vehicles_body">
        <div class="panel_vehicles_list">
            <h2>Lista pojazdów</h2>
            <div class="panel_scroll">
                <div class="panel_vehicles_vehicles">
                
                </div>
            </div>
        </div>
        <div class="panel_vehicles_info">
            <h3>Opis pojazdu</h3>
            <div class="panel_vehicle_info">
                <h4>Wybierz pojazd...</h4>
            </div>
        </div>
    </div>
</div>
<script src="js/vehicles.js"></script>