<link rel="stylesheet" href="style/vehicles.css">
<div class="panel_panel">
    <div class="panel_vehicles_body">
        <div class="panel_carview">
            <div class="panel_carview_tabscroll">
                <div class="panel_carview_tabs">
                    <div class="panel_carview_spacer"></div>
                    <div class="panel_carview_spacer"></div>
                    Nie posiadasz żadnych pojazdów! Możesz je zakupić w salonach i komisach!
                </div>
            </div>
            <div class="panel_carview_view">
                    
            </div>
        </div>
    </div>
</div>

<script src="js/vehicles.js"></script>