.fisherBody{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 22vh;
    height: 22vh;
    background-image: url("img/background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 9;
}

.fisherPointer{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("img/pointer.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 10;
    transform: rotate(-0.2deg);
}

body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}