<link rel="stylesheet" href="style/settings/general.css">
<div class="clickText"><div>Naciśnij przycisk</div></div>
<div class="panel_settings_general">
    <div class="general_header">Ustawienia ogólne</div>
    <div class="general_list">
        <div class="displayNick">
            <p class="title">Wyświetlanie swojego nicku</p>
            <label class="radio">
                <input type="checkbox" name="nick">
                <span class="checkmark">
                </span>
            </label>
        </div>
        <div class="globalChat">
            <p class="title">Wyświetlanie czatu globalnego</p>
            <label class="radio">
                <input type="checkbox" name="global">
                <span class="checkmark">
                </span>
            </label>
        </div>
        <div class="voiceChat">
            <p class="title">Używaj voice chatu</p>
            <label class="radio">
                <input type="checkbox" name="voice">
                <span class="checkmark">
                </span>
            </label>
        </div>
        <div class="useEmoji">
            <p class="title">Używaj emoji</p>
            <label class="radio">
                <input type="checkbox" name="useEmoji">
                <span class="checkmark">
                </span>
            </label>
        </div>
        <div class="voiceBind">
            <p class="title">Przycisk czatu głosowego:</p>
            <div class="voiceBlock">
                <kbd class="voiceKey">X</kbd>
            </div>
        </div>
    </div>
</div>
<script src="js/settings/general.js"></script>