<link rel="stylesheet" href="style/settings/interface.css">
<div class="panel_settings_interface">
    <div class="interface_header">Ustawienia interfejsu</div>
    <div class="interface_list">
        <div class="hudSize">
            <p class="title">Wielkość HUD'u:</p>
            <input type="range" min="1" max="100" value="50" class="slider" id="hudSize">
        </div>
        <div class="chatSize">
            <p class="title">Wielkość czatu:</p>
            <input type="range" min="1" max="100" value="50" class="slider" id="chatSize">
        </div>
        <div class="speedometerSize">
            <p class="title">Wielkość licznika:</p>
            <input type="range" min="1" max="100" value="50" class="slider" id="speedometerSize">
        </div>
        <div class="wallpaperUrl">
            <p class="title">URL tapety:</p>
            <input type="text" placeholder="np. https://linkdozdjecia.pl/zdjecie.png" value="" max="150">
        </div>
    </div>
</div>
<script src="js/settings/interface.js"></script>