html, body{
    height:auto;
    background-color: transparent;
    font-family:'PT Sans', sans-serif;
}
.mainBody{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height:auto;
    width: 25vh;
    overflow: auto;
    flex-direction: row;
    display: column;
    background: radial-gradient(circle, rgba(55,55,55,0.95) 0%, rgba(29,30,34,0.95) 100%);
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.name{
    background-color: rgb(33, 34, 37);
    width: 100%;
    text-align: center;
    padding: 0.9vh 0;
    font-size: 1.9vh;
    font-weight: 600;
    color: white;
    border-bottom: 1px solid #0c9;
}

.mainRow{
    padding: 0.5vw;
    height: 8vh;
}

.btn-secondary{
    background-color: #4c4c4c;
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 5vh;
}

.paintStyleCol{
    padding: 2vh;
}

.priceRow{
    padding: 2vh;
}

.priceText{
    color: #fff;
    font-size: 1.4vh;
    text-align: center;
}

.moneyText{
    color: rgb(0, 167, 0);
    font-size: 1.3vh;
    text-align: center;
}

.dateText{
    color: rgb(255, 255, 255);
    font-size: 1.4vh;
}

.daysCol{
    margin-top: 2vh;
}

.buttonRow{
    padding: 1vh;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}

.button_select{
    background: linear-gradient(180deg, rgba(66, 66, 66, 0.95) 0%, rgba(29,30,34,0.95) 100%);
    border: none;
    color: white;
    padding: 0.6vh;
    border-bottom: 1px solid #00cc99;
    font-size: 1vh;
}

.button_select:hover{
    border-bottom: 1px solid transparent;
    box-shadow: 0 0 1vh #0c9;
}

.button_select:focus{
    outline: none;
}

.button_cancel{
    background: linear-gradient(180deg, rgba(66, 66, 66, 0.95) 0%, rgba(29,30,34,0.95) 100%);
    border: none;
    color: white;
    padding: 0.6vh;
    border-bottom: 1px solid #cc0000;
    font-size: 1vh;
}

.button_cancel:hover{
    border-bottom: 1px solid transparent;
    box-shadow: 0 0 1vh rgb(204, 0, 0);
}

.button_cancel:focus{
    outline: none;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #444; 
    border: 3vw solid transparent;
    border-radius: 0.5vw;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .btn-check:active+.btn-secondary, .btn-check:checked+.btn-secondary, .btn-secondary.active, .btn-secondary:active, .show>.btn-secondary.dropdown-toggle{
    background-color: #1a1a1a !important;
  }


  .daysInput{
      background-color:rgba(73, 73, 73, 0.9);
      border-radius: 1vh;
      text-align: center;
      text-shadow: 0 0 1px #000000, 0 0 2px #000000;
      color: white;
  }

  .colorPickRow{
      margin-top: 4vh;
  }

  .errorCol{
      display: none;
      color: rgb(173, 0, 0);
      font-weight: bold;
      font-size: 1.6vh;
      text-align: center;
  }

  .closeCol{
      width: 60%;
      display: flex;
      justify-content: space-around;
  }

  .buttonsCol{
      width:100%;
      display: flex;
      justify-content: space-around;
      flex-direction: row;
  }