html body{
    overflow: hidden;
    user-select: none;
}

body{
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}

.mainBody{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 1vh;
    padding-bottom: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
    align-items: center;
    width: 80%;
}

.background{
    position: relative;
    width: auto;
    height: auto;
    background: radial-gradient(circle, rgba(55,55,55,0.95) 0%, rgba(29,30,34,0.95) 100%);
    border-radius: 0.4vh;
}

.text{
    background-color: rgb(33, 34, 37);
    width: 100%;
    text-align: center;
    padding: 0.9vh 0;
    font-size: 1.9vh;
    font-weight: 600;
    color: white;
    border-bottom: 1px solid #0c9;
}

.equipment{
    width: auto;
    height: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    padding: 1vh;
}

.item{
    position: relative;
    z-index: 25;
    display: block;
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}

.taken{
    background: rgba(0,204,153, 0.1) !important;
}

.slot{
    background-color: rgb(41, 41, 43);
    /* border-right: solid 0.1vh #3a3a3a;
    border-bottom: solid 0.1vh #3a3a3a; */
    border: solid 0.1vh #3a3a3a;
    width: 4vh;
    height: 4vh;
    overflow:visible;
    margin: 0 !important;
}

.highlight{
    background-color: rgb(109, 109, 109);
}

.hover{
    position: absolute;
    left: 10vh;
    right: 10vh;
    background: linear-gradient(180deg, rgba(66, 66, 66, 0.95) 0%, rgba(29,30,34,0.95) 100%);
    color: white;
    font-size: 0.8vh;
    width: auto;
    height: auto;
    width: 4vh;
    border-radius: 0.2vh;
    padding: 0.1vh;
    text-align: center;
    z-index: 100;
}


.moving{
    background-color: transparent;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 100;
    outline: none;
}


.contextMenu{
    display: none;
    position: absolute;
    z-index: 100;
    width: 8vh;
    height: auto;
    flex-direction: column;
    justify-content: space-around;
}

.button_select{
    background: linear-gradient(180deg, rgba(66, 66, 66, 0.95) 0%, rgba(29,30,34,0.95) 100%);
    border: none;
    color: white;
    padding: 0.6vh;
    font-size: 1vh;
}

.button_select:hover{
    background: linear-gradient(180deg, rgba(0, 88, 66, 0.95) 0%, rgba(29,30,34,0.95) 100%);
}

.button_select:focus{
    outline: none;
}

.button_cancel{
    background: linear-gradient(180deg, rgba(66, 66, 66, 0.95) 0%, rgba(29,30,34,0.95) 100%);
    border: none;
    color: white;
    padding: 0.6vh;
    font-size: 1vh;
}

.button_cancel:hover{
    background: linear-gradient(180deg, rgba(97, 0, 0, 0.95) 0%, rgba(29,30,34,0.95) 100%);
}

.button_cancel:focus{
    outline: none;
}