.panel_controls{
    width: 100%;
    display: grid;
    box-sizing: border-box;
    margin: 5vh 0;
    padding: 0 2vh;
    grid-template-columns: 16% 16% 16% 16% 16%;
    justify-items: center;
    column-gap: 5%;
    row-gap: 6vh;
}

.panel_controls_main{
    padding: 3vh;
}

.panel_control{
    padding: 1vh;
    width: 4vh;
    height: 4vh;
    position: relative;
    border-radius: 1.5vh;
    background-color: rgba(37, 37, 43, 0.6);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.panel_control:hover{
    box-shadow: 0 0 1vh 0 white;
}

.panel_control_header{
    position: absolute;
    top: 110%;
    color: white;
    font-size: 1.4vh;
    font-weight: 400;
    text-shadow: black 1px 1px;
    font-family: 'San Francisco';
    left: 50%;
    transform: translateX(-50%);
    width: 150%;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.panel_control_text{
    color: white;
    font-size: 0.9vh;
    margin-top: 0.3vh;
}

.panel_control_sprite{
    position: absolute;
    width: 60%;
    height: 60%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}