.panel_rules_body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.panel_rules_partial{
    background-color: #1d1e22;
    border-radius: 0.3vh;
    padding: 1vh;
    color: white;
    font-size: 1.4vh;
    text-align: center;
    box-shadow: 0.3vh 0.5vh 0.5vh black;
}

.panel_rules_changelog{
    width: 20%;
}
.panel_rules_partial p{
    margin-top: 0;
}
.panel_changelog_partials{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.panel_changelog_partials div{
    padding-top: 0.4vh;
    font-size: 1.2vh;
}

.panel_rules_rules{
    width: 30%;
}

.panel_rules_rules_partials{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.panel_rules_rules_partials div{
    padding-top: 0.4vh;
    font-size: 1.2vh;
    text-align: left;
}

.panel_rules_rules_bottom{
    margin-top: 1vh;
    font-size: 0.8vh;
}

.panel_rules_social{
    width: 10%;
}

.panel_social_partials{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.panel_social_discord{
    width: 8vh;
    height: 2vh;
    background-color: #7289da;
    border-radius: 0.6vh;
    padding: 0.4vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.2vh;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.4s;
}
.panel_social_discord:hover{
    background-color: #536cc7;
}
.panel_social_discord_logo{
    width: 2.4vh;
    height: 1.8vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}
.panel_social_discord p{
    margin: 0;
    width: 60%;
}