.panel_user_body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.panel_user_partial{
    background-color: #1d1e22;
    border-radius: 0.3vh;
    padding: 0.8vh;
    color: white;
    font-size: 1.2vh;
    text-align: center;
    box-shadow: 0.3vh 0.5vh 0.5vh black;
    width: 22vh;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 2vh;
}

.panel_user_partial p{
    margin: 0;
    margin-bottom: 0.4vh;
}

.tooltip:hover .tooltiptext{
    visibility: visible;
  }
  
  .tooltiptext {
    margin-top: -1.3vh;
    visibility: hidden;
    width: 6vh;
    background-color: rgb(34, 34, 34);
    color: #fff;
    text-align: center;
    padding: 0.2vh 0;
    border: 1px solid #000000;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }

  .interface-table{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.interface-table tr th{
    text-align: center;
    font-size: 1.2vh;
}

.interface-table tr td{
    text-align: center;
    font-size: 1.2vh;
}

.interface-table tr:nth-child(2n){
    background-color: rgb(22, 22, 22);
}

.interface-table tr > td{
    padding: 0.4vh;
}

.hide{
    display: none;
  }
  
  .plush{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1.2vh;
    height: 0.2vh;
    background-color: lime;
  }
  
  .plusv{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0.2vh;
    height: 1.2vh;
    background-color: lime;
  }

  .addPoint{
    position: relative;
    width: 1.2vh;
    height: 1.2vh;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
  }