.panel_vehicles_body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    color: white;
    font-size: 1.4vh;
}

.panel_carview{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    font-family: 'San Francisco';
}

.panel_carview_tabscroll{
    width: 30%;
    height: 100%;
    padding: 2vh 5px;
    box-sizing: border-box;
    margin-right: 1px;
    overflow-y: scroll;
}

.panel_carview_tabscroll::-webkit-scrollbar{
    display: none;
}

.panel_carview_tabs{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.6vh;
}

.panel_carview_tab_general{
    width: 100%;
    padding: 1vh;
    padding-bottom: 0.2vh;
    box-sizing: border-box;
    color: white;
    margin-top: 2vh;
}

.panel_carview_tab{
    width: 100%;
    padding: 0.6vh 0.8vh;
    box-sizing: border-box;
    color: white;
    background-color: rgba(37, 37, 43, 0.6);
    margin-bottom: 0.2vh;
    font-size: 1.5vh;
    white-space: nowrap;
    overflow: hidden;
}

.panel_carview_tab > i{
    width: 2vh;
    text-align: center;
}

.panel_carview_tab.tabselected{
    background-color: rgba(238, 238, 238, 0.8);
    color: black;
}

.panel_carview_spacer{
    margin-bottom: 1.5vh;
}

.panel_carview_id, .panel_carview_name{
    display: inline-block;
    margin-left: 0.4vh;
}

.panel_carview_id{
    font-weight: bold;
    font-size: 1.6vh;
    color: #0c9;
}

.panel_carview_view{
    padding-top: 5vh;
    width: 70%;
    height: 100%;
    background-color: rgba(37, 37, 43, 0.6);
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.carview_viewImage{
    width: 59%;
    height: 50%;
    background-position-x: center;
    background-position-y: -3vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.carview_viewInfo{
    width: 40%;
    height: 50%;
    padding-left: 2vh;
    padding-top: 5vh;
    box-sizing: border-box;
}

.carview_viewInfo > .carview_name{
    font-size: 1.8vh;
    font-weight: bold;
}

.carview_viewInfo > .carview_name > .carview_id{
    display: inline-block;
    margin-left: 1vh;
    font-size: 2.5vh;
    border-left: 1px solid white;
    padding-left: 1vh;
}


.carview_viewAddInfo{
    width: 100%;
    height: 50%;
    padding-left: 2vh;
    box-sizing: border-box;
}

.panel_carview_tab.selected{
    color: rgba(37, 37, 37, 0.8);
    background-color: white;
}

.panel_carview_tune{
    display: inline-block;
    margin: 0.2vh 0.3vh;
    padding: 0.3vh 0.5vh;
    background-color: rgb(32, 32, 32);
    font-size: 1.2vh;
    border-radius: 2vh;
}