<link rel="stylesheet" href="style/general/changelog.css">
<div class="panel_info_changelog">
    <div class="changelog_header">Ostatnie zmiany</div>
    <div class="changelog_list">
        <div><b><i class="fa-solid fa-arrow-right-long"></i></b> Dodano komendę /testy dla testerów (wyłączenie otrzymywania bonusu)</div>
        <div><b><i class="fa-solid fa-arrow-right-long"></i></b> Przebudowa pracy Koszenie trawników</div>
    </div>
    <div class="changelog_addon">Kompletną listę zmian znajdziesz na Discordzie serwera!</div>
</div>
