<link rel="stylesheet" href="style/general/rules.css">
<div class="panel_info_rules">
    <div class="rules_header">Regulamin serwera</div>
    <div class="rules_list">
        <div><b>§1.</b> Gracz rejestruje się automatycznie używając swojego konta Rockstar Games.</div>
        <div><b>§2.</b> Zabrania się korzystania z wszelakich wspomagaczy, lub programów pozwalających modyfikować zawartość gry. Wszelkie próby, niezależnie od powodzenia, będą karane.</div>
        <div><b>§3.</b> Zabrania się podszywania się pod członków administracji i innych użytkowników.</div>
        <div><b>§4.</b> Każdy gracz serwera jest zobowiązany zachowywać się zgodnie z powszechnie uznawanymi zasadami kultury osobistej.</div>
        <div><b>§5.</b> Zabrania się spamowania i innych podobnych prób zaszkodzenia innym graczom.</div>
        <div><b>§6.</b> Zabrania się wykorzystywania błędów gry. Gracze którzy umyślnie będą wywoływać błędy nie zgłaszając tego administracji zostaną ukarani.</div>
        <div><b>§7.</b> Wszelkie próby oszustwa innych graczy będą karane.</div>
    </div>
    <div class="rules_addon">Administracja zastrzega sobie prawo do modyfikacji regulaminu.</div>
</div>
