body{
    height: 100vh;
    width: 100vw;
    user-select: none;
    overflow: hidden;
    font-family: 'PT Sans', sans-serif;
    background-color: transparent;
}


.manage-table tr td{
  text-align: center;
}

.manage-table tr td .selectButton, .manage-table tr td .closeButton{
  width: 100%;
  padding: 0.2vh;
  height: 2vh;
}

.interface-main-body{
    position: absolute;
    width: 40vh;
    height: auto;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.dropdown{
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}
.create-table{
  height:70%;
}

.create-table .text{
  border-radius: 1vh;
  padding:0.4vh;
  background-color:#1d1e22;
  border: 1px solid #00cc99;
  color: white;
  width: 60%;
}
.create-table .text:enabled{
  outline: none;
}

.createForm .selectButton{
  bottom: 2vh;
  width: auto;
}

.buttons-create{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 4vh;
  margin-left: auto;
  margin-right: auto;
  bottom: 0.8vh;
  position: absolute;
  left: 0%;
}
.error{
  font-size: 1vh;
  margin: 0;
  color: red;
}
.buttons-create .selectButton{
  font-size: 1.1vh;
  padding: 0.2vh;
  width: 30%;
}

.createForm p{
  text-align: center;
  font-size: 1.2vh;
}

.dropdown-content{
  transition: 1s all;
  max-height: 100vh;
}
.buttons{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 4vh;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: -5vh;
}

.removeButtons{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: auto;
}

.vehicles-list, .manage-tab{
  display:none;
}
.dropdown-content table{
  transition: 1s all;
  max-height: 100vh;
  width: 100%;
}
.dropdown-content table tbody tr td{
  text-align: center;
  padding: 0.4vh;
}
.dropdown-content .interface-table tr:nth-child(2n){
  background-color: rgb(22, 22, 22);
}
.hidden .dropdown-content{
  max-height: 0;
}
.hidden{
  max-height: 0;
}

.hidden > .spacer{
  display: none !important;
}
.interface-body{
    background-color: #1d1e22;
    border: 2px solid #00cc99;
    min-height: 20vh; 
    max-height: 45vh;
    color: white;
    width: 100%;
    overflow-y: scroll;
}
.manage-table tr td{
  text-align: center;
  font-size: 1.2vh;
}

.interface-text{
    display:none;
    font: 1.2vh 'PT Sans', sans-serif;
    width: 100%;
}  

.interface-text-body{
  width: auto;
  height: 80%;
  padding: 1vh 2vh;
}

.interface-text-body h3{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.2vh;
}

td .selectButton{
  font-size: 1.2vh;
  padding: 0.4vh;
}

.interface-text-body h3 span{
  transition: 0.6s all;
}

.dropdown{
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

.dropdown-content{
  transition: 1s all;
  max-height: 100vh;
}

.interface-table{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.interface-table tr th{
    text-align: center;
    font-size: 1.2vh;
}

.interface-table tr td{
    text-align: center;
    font-size: 1.2vh;
}

.interface-table tr:nth-child(2n){
    background-color: rgb(22, 22, 22);
}

.interface-table tr > td{
    padding: 0.4vh;
}

.hidden .dropdown-content{
  max-height: 0;
}
.hidden{
  max-height: 0;
}

.hidden > .spacer{
  display: none !important;
}

.interface-tabs{
    width: 80%;
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color: #1d1e22;
}

.interface-tab{
    background-color: #00cc99;
    text-align: center;
    padding: 0.6vh 0.4vh;
    width: 33%;
    font-size: 1.3vh;
}

.interface-tab:hover{
  background-color: #1d1e22;
  color: white;
  outline: 1px #00cc99 solid;
  font-size: 1.3vh;
}

.hover{
    outline: solid 1px #00cc99 !important;
}


  kbd{
    background-color: white;
    border: 2px solid gray;
    color: black;
    padding-left: 0.2vh;
    padding-right: 0.2vh;
    font-weight: bold;
    font-size: 1.3vh;
  }

  .spacer{
    height: 1px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    background-color: #00cc99; 
  }
  
  ::-webkit-scrollbar {
    width: 1.4vh;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #00cc99; 
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #00cc99; 
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
  }
  .selectButton{
    color: #fff;
    background-color: #313131;
    border-color: #00cc99;
    user-select: none;
    transition: all 1s;
    height: auto;
    width: 7vh;
    padding: 1vh 1vh;
    font-size: 1.1vh;
}

.selectButton:hover{
    border-radius: 1vh;
    color: limegreen;
}

.closeButton{
    color: #fff;
    background-color: #313131;
    border-color: #00cc99;
    user-select: none;
    transition: all 1s;
    height: auto;
    width: 7vh;
    padding: 1vh 1vh;
    font-size: 1.1vh;
}
.closeButton:hover{
    color: red;
    border-radius: 1vh;
}

.removeButton{
  color: #fff;
  background-color: #6d0000;
  border-color: #ff0000;
  user-select: none;
  transition: all 1s;
  height: auto;
  width: auto;
  padding: 1vh 1vh;
  font-size: 1.1vh;
}
.removeButton:hover{
  color: red;
  border-radius: 1vh;
}