body{
    height: 100vh;
    width: 100vw;
    user-select: none;
    overflow: hidden;
    font-family: 'PT Sans', sans-serif;
    background-color: transparent;
}

.interface-main-body{
  background: radial-gradient(circle, rgba(55,55,55,0.95) 0%, rgba(29,30,34,0.95) 100%);
    position: absolute;
    width: 40vh;
    height: auto;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.nameCol{
  background-color: rgb(33, 34, 37);
  width: 100%;
  text-align: center;
  padding: 0.9vh 0;
  font-size: 1.9vh;
  font-weight: 600;
  color: white;
  border-bottom: 1px solid #0c9;
}

.scroll{
  overflow-y: scroll;
  max-height: 25vh;
}

.dropdown{
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}
.create-table{
  height:70%;
  width: 70% !important;
}

.create-table .text{
  border-radius: 0.3vh;
  padding:0.4vh;
  background-color:#1d1e22;
  box-shadow: 0 0 0.5vh 0 #0c9;
  color: white;
  width: 60%;
}
.create-table .text:enabled{
  outline: none;
}

.createForm .selectButton{
  bottom: 2vh;
  width: auto;
}

.buttons-create{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 4vh;
}
.error{
  font-size: 1vh;
  margin: 0;
  color: red;
}
.buttons-create .selectButton{
  font-size: 1.1vh;
  padding: 0.2vh;
  width: 30%;
}

.createForm{
  height: 75%;
  padding: 1vh;
  box-sizing: border-box;
}
.createForm p{
  text-align: center;
  font-size: 1.2vh;
}

.dropdown-content{
  transition: 1s all;
  max-height: 100vh;
}
.buttons{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 5vh;
  padding: 1vh;
  box-sizing: border-box;
}

.create{
  display:none;
}
.dropdown-content table{
  transition: 1s all;
  max-height: 100vh;
  width: 100%;
}
.dropdown-content table tbody tr td{
  text-align: center;
  padding: 0.4vh;
}
.dropdown-content .list-table tr:nth-child(2n){
  background-color: rgb(22, 22, 22);
}
.hidden .dropdown-content{
  max-height: 0;
}
.hidden{
  max-height: 0;
}

.hidden > .spacer{
  display: none !important;
}
.interface-body{
    min-height: 20vh; 
    max-height: 45vh;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.interface-text{
    display:none;
    font: 1.2vh 'PT Sans', sans-serif;
    width: 100%;
}  

.interface-text-body{
  width: auto;
  height: 20vh;
  padding: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.interface-text-body h3{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

td .selectButton{
  font-size: 1.2vh;
  padding: 0.4vh;
}

.interface-text-body h3 span{
  transition: 0.6s all;
}

.dropdown{
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

.dropdown-content{
  transition: 1s all;
  max-height: 100vh;
}

.interface-table{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.interface-table tr th{
    text-align: center;
    font-size: 1.2vh;
}

.interface-table tr td{
    text-align: center;
    font-size: 1.2vh;
}

.list-table tr:nth-child(2n){
    background-color: rgb(22, 22, 22);
}

.interface-table tr > td{
    padding: 0.4vh;
}

.hidden .dropdown-content{
  max-height: 0;
}
.hidden{
  max-height: 0;
}

.hidden > .spacer{
  display: none !important;
}

.interface-tabs{
    width: 100%;
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}

.interface-tab{
    background: linear-gradient(180deg, rgba(66, 66, 66, 0.95) 0%, rgba(29,30,34,0.95) 100%);
    text-align: center;
    padding: 0.6vh 0.4vh;
    width: 40%;
    font-size: 1.3vh;
    margin: 1vh 0;
}

.interface-tab:hover{
  background-color: #1d1e22;
  color: white;
  outline: 1px #00cc99 solid;
  font-size: 1.3vh;
}

.hover{
    outline: solid 1px #00cc99 !important;
}


  kbd{
    background-color: white;
    border: 2px solid gray;
    color: black;
    padding-left: 0.2vh;
    padding-right: 0.2vh;
    font-weight: bold;
    font-size: 1.3vh;
  }

  .spacer{
    height: 1px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    background-color: #00cc99; 
  }
  
  ::-webkit-scrollbar {
    width: 1.4vh;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #00cc99; 
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #00cc99; 
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
  }
  .button_select{
    background: linear-gradient(180deg, rgba(66, 66, 66, 0.95) 0%, rgba(29,30,34,0.95) 100%);
    border: none;
    color: white;
    padding: 0.6vh;
    border-bottom: 1px solid #00cc99;
    font-size: 1vh;
}

.button_select:hover{
    border-bottom: 1px solid transparent;
    box-shadow: 0 0 1vh #0c9;
}

.button_select:focus{
    outline: none;
}

.button_cancel{
    background: linear-gradient(180deg, rgba(66, 66, 66, 0.95) 0%, rgba(29,30,34,0.95) 100%);
    border: none;
    color: white;
    padding: 0.6vh;
    border-bottom: 1px solid #cc0000;
    font-size: 1vh;
}

.button_cancel:hover{
    border-bottom: 1px solid transparent;
    box-shadow: 0 0 1vh rgb(204, 0, 0);
}

.button_cancel:focus{
    outline: none;
}