html{
  font-size: 1.5vh;
  user-select: none;
}

@font-face {
  font-family: 'Digi';
  src: url('DS-DIGI.TTF');
}


body{
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.svg_petrol{
  width: 100%;
  height: 100%;
  position: relative;
}

.svg_petrol path{
  position: absolute;
  right: 0;
  bottom: 0;
}
img{
  position: absolute;
  top: 5vh;
  bottom: 5vh;
}

.speedometer_Trip{
  display: none;
  flex-direction: row;
  justify-content: space-around;
  width: 5rem;
  height: 1rem;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 35%;
}

.speedometer_Trip div{
  height: 100%;
  width: 13%;
  background-color: #1b1a1a;
  color: white;
  font-size: 0.9rem;
  text-align: center;
  font-family: "Digi";
  position: relative;
}

.speedometer_Trip div p{
  margin: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.speedometer_Trip div:last-child{
  background-color: rgb(78, 0, 0);
}
 .speedometer_Name{
   color: white;
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 1.2rem;
   position: absolute;
   right: 105%;
   bottom: 17%;
   text-align: right;
   width: 10rem;
   display: inline-block;
   text-shadow: 1px 1px 2px black;
 }

 .speedometer_Street{
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5rem;
  position: absolute;
  right: 100%;
  bottom: 5%;
  text-align: right;
  width: 20rem;
  display: inline-block;
  text-shadow: 1px 1px 2px black;
}

.speedometer_Body{
  position: absolute;
  right: 2vh;
  bottom: 4vh;
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  background-color: rgba(22, 23, 24, 0.9);
}

.speedometer_RPM{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-50deg);
  width: 104%;
  height: 104%;
  border-radius: 50%;
}

.speedometer_Petrol{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(110deg) rotateY(180deg);
  width: 102%;
  height: 102%;
  border-radius: 50%;
  z-index: 1;
}

.speedometer_PetrolAmount{
  position: absolute;
  left: 50%;
  bottom: -12%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  color: white;
  font-size: 1rem;
  z-index: 1;
  font-family: 'Digi';
  text-shadow: 1px 1px 2px black;
}

.speedometer_PetrolBack{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(110deg) rotateY(180deg);
  width: 101%;
  height: 101%;
  border-radius: 50%;
  z-index: 0;
}



#gradient{
  box-shadow: inset 0 0 0 gold, 0 0 1em 1px #0c9;
}

.speedometer_Pointer{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #323635;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  z-index: 10;
  border: 1px solid #0c9;
  box-shadow: inset 0 0 0 gold, 0 0 0.4em 1px #0c9;

}

.speedometer_Needle{
  position: absolute;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  width: 5rem;
  height: 0.2rem;
  background-color: #0c9;
  border-radius: 10% 0 10% 0;
  box-shadow: inset 0 0 0 gold, 0 0 20px 1px #0c9;
}

.speedometer_Speed{
  position: absolute;
  left: 50%;
  bottom: -12%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  font-family: "Digi";
  font-size: 3.6rem;
  color: white;
  text-align: center;
}

.speedometer_Speed .bottom{
  font-size: 1rem;
}

.line{
  width: 0.08rem;
  height: 0.3rem;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: #0c9;
  box-shadow: inset 0 0 0 gold, 0 0 1em 1px #0c9;
}


.long{
  height: 0.5rem;
}

.label{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-58%, -100%);
  color: white;
  font-size: 0.8rem;
  width: 1rem;
  height: 0.5rem;
}