<link rel="stylesheet" href="style/guide/guide.css">
<div class="panel_info_guide">
    <div class="guide_header">Podstawowe komendy</div>
    <p><b>/reconnect</b> <i class="fa-solid fa-arrow-right-long"></i> pozwala na ponowne połączenie się z serwerem</p>
    <p><b>/g {tekst}</b> <i class="fa-solid fa-arrow-right-long"></i> wysyła wiadomość na czat globalny (do wszystkich graczy)</p>
    <p><b>/bonus</b> <i class="fa-solid fa-arrow-right-long"></i> wyświetla obecny bonus</p>
    <p><b>/kierowcy</b> <i class="fa-solid fa-arrow-right-long"></i> wyświetla ostatnich pięciu kierowców pojazdu osobistego</p>
    <p><b>/report {nick/id} {powód}</b> <i class="fa-solid fa-arrow-right-long"></i> wysłanie zgłoszenia na gracza (w przypadku potrzeby pomocy wskaż siebie)</p>
    <p><b>/time</b> <i class="fa-solid fa-arrow-right-long"></i> wyświetla obecną datę (CET)</p>

    <div class="guide_addon">Na serwerze dostępnych jest wiele innych komend, których znaczenie poznasz z biegiem czasu! </div>
</div>
