<link rel="stylesheet" href="style/guide/guide.css">
<div class="panel_info_guide">
    <div class="guide_header">Informacje ogólne</div>
    <h3>Ekwipunek</h3>
    <p>Ekwipunek na serwerze jest zaprojektowany w formie siatki. O tym ile jesteśmy w stanie przenieść świadczy ilość kratek naszego ekwipunku. Przedmioty dostępne na serwerze mają różne wielkości, także upewnij się że masz na nie miejsce!</p>

    <p>Aby otworzyć ekwipunek naciśnij przycisk <kbd>I</kbd>  Otwarcie ekwipunku w pojeździe osobistym skutkuje otwarciem bagażnika.</p>
    
    <p>Aby otworzyć menu przedmiotu kliknij na niego <kbd>PPM</kbd>.</p>
    
    <p>Przedmioty można upuszczać na ziemię. Wtedy każdy gracz będzie mógł je podnieść. UWAGA! Przedmioty upuszczone na ziemi usuwają się po restarcie serwera!</p>    

    <h3>Urząd miasta</h3>
    <p>W urzędzie miasta, zlokalizowanym w zachodnim Los Santos, możemy załatwić kilka spraw administracyjnych.</p>
    
    <p>W urzędzie możemy także przeprowadzić sprzedaż pojazdu innemu graczowi. Obie osoby muszą znajdować się w urzędzie, a transakcja musi zostać zaakceptowana przez kupującego.</p>

    <p>Spotkamy tu również system zarządzania organizacjami. Możemy tutaj stworzyć organizację i zarządzać nią, lub dołaczyć do istniejącej. Koszt złożenia podania do organizacji to $500!</p>

    <h3>Znajdźki</h3>
    <p>Na serwerze dostępne są tzw. znajdźki. Są one dostępne w całym San Andreas. Nie ograniczajcie się, mogą być niemal wszędzie gdzie dacie radę wejść o własnych siłach! Każdy gracz ma do odnalezienia 100 z nich!</p>    
</div>