<link rel="stylesheet" href="style/guide/guide.css">
<div class="panel_info_guide">
    <div class="guide_header">Prace</div>
    <p>Na serwerze zaimplementowano innowacyjny system rozwoju postaci. W aplikacji 'Rozwój' dostępnej w tablecie, znajdziesz informacje dotyczące swojego postępu w poszczególnych pracach.</p>
    <p>Każde doświadczenie zdobyte podczas wykonywania pracy, zostaje przypisane do twojej postaci jako doświadczenie globalne, a także jako te zdobyte w danej aktywności. </p>
    <p>Rozwijaj się odblokowując premie, nowe możliwości, a nawet wspinając się na szczyt wybranej przez siebie kariery!</p>
    <p>Staramy się aby każda ścieżka przynosiła takie same zyski, więc nie wahaj się zostać tym kim chcesz!</p>
</div>