<link rel="stylesheet" href="style/guide/guide.css">
<div class="panel_info_guide">
    <div class="guide_header">Skróty klawiszowe</div>
    <p>
        <kbd>F2</kbd> <i class="fa-solid fa-arrow-right-long"></i> otwiera tablet.
    </p>
    <p>
        <kbd>F4</kbd> <i class="fa-solid fa-arrow-right-long"></i> otwiera listę graczy online.
    </p>
    <p>
        <kbd>I</kbd> <i class="fa-solid fa-arrow-right-long"></i> otwiera ekwipunek lub bagażnik pojazdu.
    </p>
    <p>
        <kbd>B</kbd> <i class="fa-solid fa-arrow-right-long"></i> przełącza HUD pracy podczas wykonywania pracy dorywczej.
    </p>
    <p>
        <kbd>Z</kbd> <i class="fa-solid fa-arrow-right-long"></i> przełącza tryb minimapy.
    </p>
    <p>
        <kbd>X</kbd> <i class="fa-solid fa-arrow-right-long"></i> domyślny przycisk voice chatu (push to talk), aby zmienić zobacz opcje tabletu.
    </p>
    <p>
        <kbd>ALT</kbd> <i class="fa-solid fa-arrow-right-long"></i> otwiera panel interakcji z pojazdem.
    </p>
</div>
