<link rel="stylesheet" href="style/guide/guide.css">
<div class="panel_info_guide">
    <div class="guide_header">Umiejętności</div>
    <p>W głównym panelu pod <kbd>F2</kbd> można ujrzeć panel umiejętności postaci. Umiejętności możemy przydzielać za konkretną ilość punktów umiejętności, które zdobywamy za każdy poziom naszej postaci. Każda umiejętność w inny sposób wpływa na naszą rozgrywkę:</p>
    <p><b>Ekwipunek</b> <i class="fa-solid fa-arrow-right-long"></i> każdy punkt tej umiejętności zwiększa pojemność naszego ekwipunku o 10 slotów.</p>
    <p><b>Zarobki</b> <i class="fa-solid fa-arrow-right-long"></i> każdy punkt tej umiejętności zwiększa nasze zarobki w każdej pracy o 1%.</p>
    <p><b>Eco Driving</b> <i class="fa-solid fa-arrow-right-long"></i> za każdy punkt spalamy o 2% mniej paliwa w naszych pojazdach osobistych.</p>
    <p><b>Sloty na pojazdy</b> <i class="fa-solid fa-arrow-right-long"></i> każdy punkt tej umiejętności zwiększa ilość naszych slotów na pojazdy o 1.</p>
    <p><b>Szósty zmysł</b> <i class="fa-solid fa-arrow-right-long"></i> ta umiejętność sprawia że słyszymy dźwięki gdy jesteśmy blisko znajdźki.</p>
</div>
