<link rel="stylesheet" href="style/guide/guide.css">
<div class="panel_info_guide">
    <div class="guide_header">Pojazdy i ich funkcje</div>
    <p>Na serwerze możemy wejść w posiadanie różnego rodzaju pojazdów lądowych. Od motocykli po pojazdy wyścigowe! Aby je zakupić udaj się na jeden z oznaczonych na mapie komisów lub salonów. Na pewno znajdziesz coś dla siebie!</p>
    <p>Wszystkie pojazdy mają tylko jedną wersję silnikową, jednakże przewidujemy obecność rzadszych, mocniejszych wersji pojazdów. </p>
    <p>Pojazd osobisty możemy naprawić na jednej z kilku dostępnych stacji naprawczych. Aby przystąpić do naprawy należy zaparkować pojazd na stanowisku, zaciągnąć ręczny, a następnie podejść do mechanika i zatwierdzić naprawę. Po wyznaczonym czasie pojazd będzie gotowy do jazdy!</p>
    <p>Aby zmienić kolor naszego pojazdu musimy udać się na lakiernię. Można wybrać tam malowanie i jeden z dostępnych typów. Kolor dostępny jest w modelu RGB, także bez problemu znajdziecie odpowiedni! Kolor podstawowy i dodatkowy należy malować osobno.</p>
    <p>Każdy pojazd ma inną pojemność baku i mnożnik spalania. Aby uzupełnić paliwo w pojeździe udajemy się na stację benzynową i parkujemy go na stanowisku napełniania. Następnie opuszczamy pojazd i przy odpowiednim dystrybutorze trzymamy <kbd>E</kbd> po pojawieniu się panelu tankowania nad pojazdem</p>
    <p>Każdy początkujący gracz może posiadać maksymalnie 3 pojazdy. Ilość slotów można zwiększać przy użyciu punktów umiejętności.</p>
    <p>Tuning wizualny naszego pojazdu możemy wykonać własnoręcznie w warsztacie Benny's Original Motor Works.</p>
    <p>Tuning mechaniczny i zmianę felg możemy dokonać w jednym z dostępnych warsztatów tuningowych, będących częścią biznesów na serwerze.</p>
</div>