<link rel="stylesheet" href="style/guide/guide.css">
<div class="panel_info_guide">
    <div class="guide_header">Witaj na serwerze BasicRPG!</div>
    <p>Serwer jest w trakcie produkcji, także wszystkie postępy zostaną usunięte wraz z jego startem!</p>
    <p> Motywem wiodącym serwera jest RPG (nie mylić z RP). Wcielamy się w postać której przyszłość zależy tylko od nas. 
        Możemy rozwijać się na różnych ścieżkach i zdobywać doświadczenie w różnych dziedzinach, aby rozgrywka pokrywała się z naszymi zainteresowaniami.</p>
    <h4>Serwer jest tworzony w 100% przez nas. Nie znajdziesz tu takich samych modyfikacji jak na innych serwerach. Dzięki temu każdy może przyczynić się do jego tworzenia!</h4>
</div>